*{
  margin: 0;
}


body{
  font-family:  san-serif;
  margin: 0;
  position:relative;
/*  overflow-x:hidden;
  overflow-y:hidden;*/
}

div.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
aside {
  background: #F8F8FF;
  width: 400px;
  margin:0;
  padding:0;
}
.show{
  display:block;
}
.hide{
  display:none;
}

aside > header {
  margin:1px;
  border-bottom: 2px solid #EEEEEE;
  background: #FFFFFF;
}

aside >header> h1 {
  color: #3e5358;
  margin: 0;
  padding: 0px 20px ;
}

aside > article > form > input  {
  background-image: url("../images/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 300px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 20px;
  box-shadow: 1px 1px gray;
}

article.register {
  display:flex;
  margin:20px;
  padding: 5px;
  background:#FFFFFF;
  box-shadow: 1px 1px gray;
}

article.register >p{
  color: #3e5358;
  margin: 0;
  font-size: 20px;
  margin: 2px 20px 0px 10px;
}

article > img.pen{
  width:28px;
  height:28px;
}

article.register:hover{
  background: #EEEEEE;
  cursor:pointer;
  opacity:0.9;
}

main {
  position:relative;
  flex:1;
}

main > div.expandbutton {
  background:#FFFFFF;
  opacity:0.9;
  position:absolute;
  top: 100px;
  left: 0px;
  z-index:1;
  width:16px;
  height:48px;
  display:flex;
  justify-content:center;
  align-items:center;
}

main > div.expandbutton:hover {
  cursor:pointer;
}

#markdownArea {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:9999;
  background:#FFFFFF;
}

